{% extends 'item/base.html'%}
{% block content %}

<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Create an order</h1>
        <p class="fs-5 text-body-secondary">This is a page for creating an order with multiple items.</p>
    </div>
</header>


<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

        <div class="col mx-auto">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Order details</h4>
                </div>
                <form class="form-control" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            {{ form.items.label_tag }} {{ form.items }}
                            {{ form.discounts.label_tag }} {{ form.discounts }}
                            {{ form.tax.label_tag }} {{ form.tax }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="w-100 btn btn-lg btn-primary" name="buy_order">Buy</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</main>
{% endblock %}