{% extends 'item/base.html'%}
{% block content %}


<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

        <div class="col mx-auto">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Payment status: Successful</h4>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer">
                    <a href="{% url 'order:create_order' %}"
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">Create new order</a>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}